<form action="/secret/<%=id%>/addN" method="POST">
        <h4>enter the name of comparisions and the no f data fields</h4>
        <input type="string" name="data[legend1_name]"  placeholder="Legend Name" >
        <input type="string" name="data[legend2_name]"  placeholder="Legend Name" >
        <input type="string" name="data[legend3_name]"  placeholder="Legend Name" >
        <input type="string" name="data[subname]" placeholder="subgraphName" >
        <input type="number" name="data[number]" placeholder="Length of data">
        <input type="submit">


</form>