<% include partial/header.ejs %>


<div class="container">

        <div class="jumbotron">
                <div class="container">
               <header> 
           <h1> Welcome to the GetEasyGraphs</h1>
           <p> Only Place to get fast and accurate chart and graphs</p>
           <a href="/login" class="btn btn-primary btn-lg"> Get Started</a>
           </header>
           
           </div>
           </div>
           <div class="row text-center" style="display:flex ; flex-wrap:wrap">

               
                <div class="col-md-3 col-sm-6">
                <div class="thumbnail " >   
                 <img src="./../public/images/6.PNG" >
                 <div class="caption">
                     Column 2d chart
                 </div>
               
                 </div>
                 </div>
                 <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">   
                         <img src="./../public/images/7.PNG">
                         <div class="caption">
                           Column3D chart
                         </div>
                       
                         </div>
                         </div>
                         <div class="col-md-3 col-sm-6">
                                <div class="thumbnail">   
                                 <img src="./../public/images/8.PNG" >
                                 <div class="caption">
                                     Line2D chart
                                 </div>
                               
                                 </div>
                                 </div>
                                 <div class="col-md-3 col-sm-6">
                                        <div class="thumbnail">   
                                         <img src="./../public/images/9.PNG" >
                                         <div class="caption">
                                          Multi-series column3D chart
                                         </div>
                                       
                                         </div>
                                         </div>
                                         <div class="col-md-3 col-sm-6">
                                                <div class="thumbnail">   
                                                 <img src="./../public/images/10.PNG" >
                                                 <div class="caption">
                                                    Multi-Series Line2D chart
                                                 </div>
                                               
                                                 </div>
                                                 </div>
                                                 <div class="col-md-3 col-sm-6">
                                                        <div class="thumbnail">   
                                                         <img src="./../public/images/11.PNG" >
                                                         <div class="caption">
                                                           Multi-series Line2D chart
                                                         </div>
                                                       
                                                         </div>
                                                         </div>
                                                         <div class="col-md-3 col-sm-6">
                                                                <div class="thumbnail">   
                                                                 <img src="./../public/images/12.PNG" >
                                                                 <div class="caption">
                                                                   Zoom Line chart
                                                                 </div>
                                                               
                                                                 </div>
                                                                 </div>
                                                                 <div class="col-md-3 col-sm-6">
                                                                        <div class="thumbnail">   
                                                                         <img src="./../public/images/13.PNG" >
                                                                         <div class="caption">
                                                                           Stocked Area2D chart
                                                                         </div>
                                                                       
                                                                         </div>
                                                                         </div>
                
                </div>
  


</div>


<% include partial/footer.ejs %>