<h1>this is the orm</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit">


</form>

<li><a href="/">home</a></li>
<li><a href="/login">login</a></li>

<li> <A href="/secret">secret</A></li>