
<% include partial/header.ejs %>
<h2>
    this is thesecret page ha ha ha 
</h2>

<h3>

    you cannot enter here without passport permission  
</h3>

<li><a href="/">home</a></li>
<li><a href="/logout">logout</a></li>
<li><a href="/register">register</a></li>
<li> <A href="/secret">secret</A></li>
<% include partial/footer.ejs %>